@import "imports/helpers.less";
@import "style.less";

/* Animation Delays */
.delays(@index) when (@index > 0) {
	.delayed-@{index} {
		@time: @index * @delay-increment;
		#animation > .animation-delay(@time);
	}
	.delays(@index - 1);
}

.delays(0) {
}

.delays(@delay-maximum);

.container {
	&:extend(.fadeIn);
}

.show-fieldset {
	&:extend(.large);
	cursor: pointer;
	&:extend(.block);
}

.feature-icon {
	font-size: 7em;
}

.overview {
	padding: 5% 0;
	h1 {
		line-height: 2;
		&:extend(.normal-padding-top-bottom)
	;
		font-size: 4em;
		border-bottom: 2px dotted #CCC;
		border-top: 2px dotted #CCC;
	}

	.toolbar {
		border-top: none;
		background: none;
	}
}

section {
	padding-left: 3em;
}

header {
	padding: @paddingLarge 0;
}

#content {
	ol, ul {
		margin: @margin 2em;
	}
}

.hidden {
	&:extend(.opacity-0);
}

.showing {
	&:extend(.opacity-100);
}

.show-edit-container {
	&.fixed-left {
		&:extend(.fixed);
		left: -4em;
		top: 50%;
		#transform > .rotate(90deg);
		&:extend(.large);
	}
}

.btn.huge {
	width: (@rowWidth / 2);
	&:extend(.block);
	margin: 0 auto;
	&:extend(.normal-padding-top-bottom);
	font-size: 2em;
	&:extend(.relative);

	& > i {
		&:extend(.transition-all)
	;
		text-shadow: 0 -0.4em 0.5em rgb(255, 255, 255), 0 0 0.3em rgba(221, 221, 221, 0.45), 0 0 1.3em rgba(63, 63, 63, 0.79);
		&:extend(.absolute)
	;
		padding-left: @padding;
		font-size: 1.3em;
	}
	&:hover > i {
		#transform > .rotate(180deg);
		&:extend(.absolute)
	;
		font-size: 3em;
		padding: 2%;
		top: -27%;
		color: rgba(255, 255, 255, 0.58);
		text-shadow: 0 -0.4em 0.5em #FFF, 0 1px #FFF, 0 0 0.1em rgba(63, 63, 63, 0.68);
	}
}

.download-area {
	margin: 3em 0;
}

@media handheld, only screen and (max-width: @container-max-width) {
	//query at 767px
	.btn, .download-area .btn.huge {
		display: block;
		width: @rowWidth;
		.centred;
		margin-top: -1px;
	}

	.container {
		input:not([type]), input[type="color"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"] {
			width: @rowWidth;
		}

		.overview {
			h1 {
				font-size: 3em;
			}
		}
	}

	.show-edit-container.fixed-left {
		position: static;
		#transform > .rotate(0deg);
	}

	section {
		padding: 0;
	}
}

/* =============================================================================
Code (Using Prism)
========================================================================== */
@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	&:extend(.normal-padding);
	margin: @marginSmall 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: fade(@borderColour, 30%);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	&:extend(.normal-padding);
	&:extend(.rounded);
}

.token {
	&.comment, &.prolog, &.doctype, &.cdata {
		color: slategray;
	}
	&.punctuation {
		color: #999;
	}
	&.property,
	&.tag,
	&.boolean,
	&.number {
		color: #905;
	}

	&.property,
	&.tag,
	&.boolean,
	&.number {
		color: #905;
	}

	&.selector,
	&.attr-name,
	&.string {
		color: #690;
	}

	&.atrule,
	&.attr-value,
	&.keyword {
		color: #07a;
	}

	&.regex,
	&.important {
		color: #e90;
	}

	&.important {
		font-weight: bold;
	}

	&.entity {
		cursor: help;
	}
}

.namespace {
	&:extend(.opacity-75);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #a67f59;
	background: fade(@bodyBackgroundColour, 50);
}

/* =============================================================================
Tables
========================================================================== */
table {
	&:extend(.row-width);
	&:extend(.bordered);
	&:extend(.normal-padding);
	&:extend(.normal-margin-bottom);
}

.super-large {
	font-size: 15em;
}

//example module
.module {
	&:extend(.relative);
	&:extend(.box);
	&.feature-star {
		&:extend(.icon-star);
		&:after {
			&:extend(.absolute);
			&:extend(.super-large);
			color: spin(@textColour, 40);
			&:extend(.transition-all);
			text-shadow: 0 0 @borderRadius spin(lighten(@textColour, 40), 40%);
			top: 0;
			left: 0.4em;
		}
		&:hover {
			&:after {
				font-size: (@fontSizeLarge * 4);
				left: 4%;
				#transform > .rotate(-90deg);
				content: @icon-star-2;
			}
		}
	}
}

.question {
	cursor: pointer;
	&:extend(.bordered-top);
	&:extend(.normal-padding-top-bottom);
	h3 {
		&:extend(.title);
	}
}

header {
	&.centred {
		line-height: 2;
	}
}